#Loads the images for the cards for shengji

<img id="10_of_clubs.png" src="@routes.Assets.versioned("images/10_of_clubs.png")" style="display: none;"></img>
<img id="10_of_diamonds.png" src="@routes.Assets.versioned("images/10_of_diamonds.png")" style="display: none;"></img>
<img id="10_of_hearts.png" src="@routes.Assets.versioned("images/10_of_hearts.png")" style="display: none;"></img>
<img id="10_of_spades.png" src="@routes.Assets.versioned("images/10_of_spades.png")" style="display: none;"></img>
<img id="2_of_clubs.png" src="@routes.Assets.versioned("images/2_of_clubs.png")" style="display: none;"></img>
<img id="2_of_diamonds.png" src="@routes.Assets.versioned("images/2_of_diamonds.png")" style="display: none;"></img>
<img id="2_of_hearts.png" src="@routes.Assets.versioned("images/2_of_hearts.png")" style="display: none;"></img>
<img id="2_of_spades.png" src="@routes.Assets.versioned("images/2_of_spades.png")" style="display: none;"></img>
<img id="3_of_clubs.png" src="@routes.Assets.versioned("images/3_of_clubs.png")" style="display: none;"></img>
<img id="3_of_diamonds.png" src="@routes.Assets.versioned("images/3_of_diamonds.png")" style="display: none;"></img>
<img id="3_of_hearts.png" src="@routes.Assets.versioned("images/3_of_hearts.png")" style="display: none;"></img>
<img id="3_of_spades.png" src="@routes.Assets.versioned("images/3_of_spades.png")" style="display: none;"></img>
<img id="4_of_clubs.png" src="@routes.Assets.versioned("images/4_of_clubs.png")" style="display: none;"></img>
<img id="4_of_diamonds.png" src="@routes.Assets.versioned("images/4_of_diamonds.png")" style="display: none;"></img>
<img id="4_of_hearts.png" src="@routes.Assets.versioned("images/4_of_hearts.png")" style="display: none;"></img>
<img id="4_of_spades.png" src="@routes.Assets.versioned("images/4_of_spades.png")" style="display: none;"></img>
<img id="5_of_clubs.png" src="@routes.Assets.versioned("images/5_of_clubs.png")" style="display: none;"></img>
<img id="5_of_diamonds.png" src="@routes.Assets.versioned("images/5_of_diamonds.png")" style="display: none;"></img>
<img id="5_of_hearts.png" src="@routes.Assets.versioned("images/5_of_hearts.png")" style="display: none;"></img>
<img id="5_of_spades.png" src="@routes.Assets.versioned("images/5_of_spades.png")" style="display: none;"></img>
<img id="6_of_clubs.png" src="@routes.Assets.versioned("images/6_of_clubs.png")" style="display: none;"></img>
<img id="6_of_diamonds.png" src="@routes.Assets.versioned("images/6_of_diamonds.png")" style="display: none;"></img>
<img id="6_of_hearts.png" src="@routes.Assets.versioned("images/6_of_hearts.png")" style="display: none;"></img>
<img id="6_of_spades.png" src="@routes.Assets.versioned("images/6_of_spades.png")" style="display: none;"></img>
<img id="7_of_clubs.png" src="@routes.Assets.versioned("images/7_of_clubs.png")" style="display: none;"></img>
<img id="7_of_diamonds.png" src="@routes.Assets.versioned("images/7_of_diamonds.png")" style="display: none;"></img>
<img id="7_of_hearts.png" src="@routes.Assets.versioned("images/7_of_hearts.png")" style="display: none;"></img>
<img id="7_of_spades.png" src="@routes.Assets.versioned("images/7_of_spades.png")" style="display: none;"></img>
<img id="8_of_clubs.png" src="@routes.Assets.versioned("images/8_of_clubs.png")" style="display: none;"></img>
<img id="8_of_diamonds.png" src="@routes.Assets.versioned("images/8_of_diamonds.png")" style="display: none;"></img>
<img id="8_of_hearts.png" src="@routes.Assets.versioned("images/8_of_hearts.png")" style="display: none;"></img>
<img id="8_of_spades.png" src="@routes.Assets.versioned("images/8_of_spades.png")" style="display: none;"></img>
<img id="9_of_clubs.png" src="@routes.Assets.versioned("images/9_of_clubs.png")" style="display: none;"></img>
<img id="9_of_diamonds.png" src="@routes.Assets.versioned("images/9_of_diamonds.png")" style="display: none;"></img>
<img id="9_of_hearts.png" src="@routes.Assets.versioned("images/9_of_hearts.png")" style="display: none;"></img>
<img id="9_of_spades.png" src="@routes.Assets.versioned("images/9_of_spades.png")" style="display: none;"></img>
<img id="ace_of_clubs.png" src="@routes.Assets.versioned("images/ace_of_clubs.png")" style="display: none;"></img>
<img id="ace_of_diamonds.png" src="@routes.Assets.versioned("images/ace_of_diamonds.png")" style="display: none;"></img>
<img id="ace_of_hearts.png" src="@routes.Assets.versioned("images/ace_of_hearts.png")" style="display: none;"></img>
<img id="ace_of_spades.png" src="@routes.Assets.versioned("images/ace_of_spades.png")" style="display: none;"></img>
<img id="ace_of_spades2.png" src="@routes.Assets.versioned("images/ace_of_spades2.png")" style="display: none;"></img>
<img id="black_joker.png" src="@routes.Assets.versioned("images/black_joker.png")" style="display: none;"></img>
<img id="CardBack.jpg" src="@routes.Assets.versioned("images/CardBack.jpg")" style="display: none;"></img>
<img id="dirlist.txt" src="@routes.Assets.versioned("images/dirlist.txt")" style="display: none;"></img>
<img id="favicon.png" src="@routes.Assets.versioned("images/favicon.png")" style="display: none;"></img>
<img id="jack_of_clubs.png" src="@routes.Assets.versioned("images/jack_of_clubs.png")" style="display: none;"></img>
<img id="jack_of_clubs2.png" src="@routes.Assets.versioned("images/jack_of_clubs2.png")" style="display: none;"></img>
<img id="jack_of_diamonds.png" src="@routes.Assets.versioned("images/jack_of_diamonds.png")" style="display: none;"></img>
<img id="jack_of_diamonds2.png" src="@routes.Assets.versioned("images/jack_of_diamonds2.png")" style="display: none;"></img>
<img id="jack_of_hearts.png" src="@routes.Assets.versioned("images/jack_of_hearts.png")" style="display: none;"></img>
<img id="jack_of_hearts2.png" src="@routes.Assets.versioned("images/jack_of_hearts2.png")" style="display: none;"></img>
<img id="jack_of_spades.png" src="@routes.Assets.versioned("images/jack_of_spades.png")" style="display: none;"></img>
<img id="jack_of_spades2.png" src="@routes.Assets.versioned("images/jack_of_spades2.png")" style="display: none;"></img>
<img id="king_of_clubs.png" src="@routes.Assets.versioned("images/king_of_clubs.png")" style="display: none;"></img>
<img id="king_of_clubs2.png" src="@routes.Assets.versioned("images/king_of_clubs2.png")" style="display: none;"></img>
<img id="king_of_diamonds.png" src="@routes.Assets.versioned("images/king_of_diamonds.png")" style="display: none;"></img>
<img id="king_of_diamonds2.png" src="@routes.Assets.versioned("images/king_of_diamonds2.png")" style="display: none;"></img>
<img id="king_of_hearts.png" src="@routes.Assets.versioned("images/king_of_hearts.png")" style="display: none;"></img>
<img id="king_of_hearts2.png" src="@routes.Assets.versioned("images/king_of_hearts2.png")" style="display: none;"></img>
<img id="king_of_spades.png" src="@routes.Assets.versioned("images/king_of_spades.png")" style="display: none;"></img>
<img id="king_of_spades2.png" src="@routes.Assets.versioned("images/king_of_spades2.png")" style="display: none;"></img>
<img id="queen_of_clubs.png" src="@routes.Assets.versioned("images/queen_of_clubs.png")" style="display: none;"></img>
<img id="queen_of_clubs2.png" src="@routes.Assets.versioned("images/queen_of_clubs2.png")" style="display: none;"></img>
<img id="queen_of_diamonds.png" src="@routes.Assets.versioned("images/queen_of_diamonds.png")" style="display: none;"></img>
<img id="queen_of_diamonds2.png" src="@routes.Assets.versioned("images/queen_of_diamonds2.png")" style="display: none;"></img>
<img id="queen_of_hearts.png" src="@routes.Assets.versioned("images/queen_of_hearts.png")" style="display: none;"></img>
<img id="queen_of_hearts2.png" src="@routes.Assets.versioned("images/queen_of_hearts2.png")" style="display: none;"></img>
<img id="queen_of_spades.png" src="@routes.Assets.versioned("images/queen_of_spades.png")" style="display: none;"></img>
<img id="queen_of_spades2.png" src="@routes.Assets.versioned("images/queen_of_spades2.png")" style="display: none;"></img>
<img id="red_joker.png" src="@routes.Assets.versioned("images/red_joker.png")" style="display: none;"></img>
