@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/CardBack.jpg")">

        <a id="topButtons" href="@routes.Assets.versioned("images/CardBack.jpg")"> Contact </a>
        <a id="topButtons" href="@routes.HomeController.projects"> Projects </a>
        <a id="topButtons" href="@routes.Assets.versioned("images/CardBack.jpg")"> About </a>
        <a id="topButtons" href="@routes.HomeController.index"> Home </a>
    </head>
    <body>
          @content
    </body>
</html>
