@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/CardBack.jpg")">

        <script type="text/javascript" src="@routes.HomeController.javascriptRoutes"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/libs/jquery-3.2.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/libs/paper-core.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/libs/paper-full.js")"></script>

        <a id="topButtons" href="@routes.Assets.versioned("images/CardBack.jpg")"> Contact </a>
        <a id="topButtons" href="@routes.HomeController.projects"> Projects </a>
        <a id="topButtons" href="@routes.Assets.versioned("images/CardBack.jpg")"> About </a>
        <a id="topButtons" href="@routes.HomeController.index"> Home </a>
    </head>
    <body>
          @content
    </body>
</html>
